<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        카테고리 이름:<input type="text" class="vcname">
        <button type="button" onclick="setvcategory()">카테고리 등록</button>
    </div><br>
    <form>
        제목:<input type="text" class="vtitle">
        작성자:<input type="text" class="vwriter">
        내용:<input type="text" class="vcontent">
        <button type="button" onclick="setvisit()">방명록 등록</button>
    </form>
    <div class="vcategorybox"></div>
    <table class="visitlist">



    </table>




    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board/visit.js"></script>
</body>
</html>