<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>글 쓰기 페이지</h1>
  카테고리 이름:<input type="text" class="bcname">
  <button type="button" onclick="setbcategory()"> 카테고리등록</button>
  <span class="bcategorybox"></span>
  <form>
        제목:<input type="text" class="btitle">
        내용:<input type="text" class="bcontent">
         첨부파일 :<input type="file" class="bfile">
      <button type="button" onclick="setboard()">글 등록</button>


  </form>






  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/board/write.js"></script>
</body>
</html>