<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/board/list"><button>게시판</button></a>
    <div class="container">
        <button type="button" onclick="signupPage()"> 회원가입하기 </button>
        <button type="button" onclick="loginPage()"> 로그인하기 </button>




    </div>
    <table class="mtable">
        <th>번호</th>
        <th>이메일</th>
        <th>비밀번호</th>

    </table>






    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>